body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    color: white;
    font-size: 36px;
    font-family: 'Fredoka One', cursive;
}

.subtitulo{
    color: white;
    font-size: 24px;
}

.tajetas{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepon{
    width: 185px;
    height: 100px;
    color: white;
    background-color: #114685;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepon img {
    width: 80px;
}

input {
    display: none;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

#seleccionar-ataque {
   flex-direction: column;
   align-items: center;
}

.btn-ataque {
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    color: white;
}